<% content_for :imagen do %>
<div class="row">
	<div class="span10 offset2"><%= image_tag "slide1.png", :size =>"800x100" %></div>
</div>
<% end %>

<h1><%= @titulo ||= "Curso Ruby on Rails" %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>