<h2><%= @titulo ||= "Empresa ABC" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>
      
      <%= f.label :apellido %>
      <%= f.text_field :apellido, class: 'form-control' %>
      
      <%= f.label :tipo_de_identificacion  %>
      <%= f.text_field :tipo_de_identificacion, class: 'form-control' %>
      
       <%= f.label :cedula  %>
      <%= f.text_field :cedula, class: 'form-control' %>
      
      <%= f.label :telefono %>
      <%= f.text_field :telefono, class: 'form-control' %>
      
      <%= f.label :ciudad %>
      <%= f.text_field :ciudad, class: 'form-control' %>
      
      <%= f.label :direccion %>
      <%= f.text_field :direccion, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :Descripcion %>
      <%= f.text_area :message, :id => "message_area", :cols => 60, :rows => 5 %>
      
      
      
      <%= f.label :tipo_de_solicitud  %>
      <%= f.text_field :tipo_de_solicitud, class: 'form-control' %>
      
      <% f.label :archivo %><br>
      <%= f.file_field :archivo_adjunto %><br>
      
      

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
 </div>
    </div>