Hola c <%= @greeting %>

Debido a tu solicitud, te informamos que puedes puedes verificar su estado directamente en la pagina ABC.COM en la opcion consultar PQRS ingresando tu cedula

Este correo es automatico por favor no responder