<meta charset="UTF-8">
  <title><%= @titulo ||= "Empresa ABC" %></title>
  <link rel="icono" href="images/logo.png" type="image/x-icon"/>
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>