	<!-- Logo -->
		<%=link_to (image_tag "logo.png", :size=>"120x100", :alt=>"logo"),{:action=>"index"}, :id=>"logo" %>
		<!-- Final Logo -->

		<!-- Navegacion -->
		<nav>
    		<ul>

    			<li><%= link_to "Inicio", :action=>"index" %></li>
    			<li><%= link_to "¿Quiénes Somos?", :action=>"quienes_somos" %></li>
				<li><%= link_to "Iniciar Sesion", :action=>"iniciar_sesion" %></li>

    		</ul>
    	<!-- Final Navegacion -->
    	</nav>