<div class="row hero-unit espacio">
      <div class="span4">
        <h3>Empresa ABC</h3>
      </div>
      
      <div class"span6">
          <%= mostrar_image "slide.jpg", "550x316" %>
          
      </div>
</div>
   
    
