 <div class="row">
      <div class="span4">
        <h3>¿Quienes Somos?</h3>
          <p> Aqui va el texto de quienes somos</p>
            <%= link_to "Read more...", {:action=>"quienes_somos"}, :class=>"read_more" %>
      </div>
    
      <div class="span4">
        <h3>Solicitar PQRS</h3>
        <p> Aqui va el texto de contactenoss</p>
         <%= link_to "Solicitar", {:action=>"solicitar_pqr"}, :class=>"solicitar" %>
      </div>
      
      <div class="span4">
        <h3>Consultar PQRS</h3>
        <p> Aqui va el texto de contactenoss</p>
        <%= link_to "Consultar", {:action=>"consultar_pqr"}, :class=>"consultar" %>
      </div>
 </div>

<div class="holder_content1">
      <div class="group6">
        <%= yield %>
      </div>
</div>
