<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title><%= @titulo ||= "Curso Rails - Santiago Ponce" %>  </title>
	<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  
</head>
<body>
	<!--Contenedor-->
  <div id="container">

	<!--Cabecera-->
	<header>
		<!-- Logo -->
		<!-- Logo -->
		<%=link_to (image_tag "logo.png", :size=>"120x100", :alt=>"logo"), :action=> 'index', :id=>"logo" %>
		<!-- Final Logo -->

		<!-- Navegacion -->
		<nav>
    		<ul>

    			<li><%= link_to "Inicio",  :action=> 'index' %></li>
    			<li><%= link_to "¿Quiénes Somos?", quienes_somos_path %></li>
				<li><%= link_to "Iniciar Sesion", iniciar_sesion_path%></li>

    		</ul>
    	<!-- Final Navegacion -->
    	</nav>
		

		<!-- Final Cabecera-->
	</header>

	<!--Cabecera intro-->

   	<div id="intro">
   
   		<div class="group_bannner_right">
   			<%= image_tag "slide.jpg", :size=>"550x316", :alt=>"index" %>
   			
   		</div>
   
   		<header class="group_bannner_left">
   			<hgroup>
   				<h1>Empresa ABC</h1>
   				<h2>Santa marta - Magdalena</h2>
   			</hgroup>
   		</header>

   </div>
   <!--Final Cabecera intro-->

   <!--Servicios Destacados-->

   <div class="holder_content">
   
   <section class="group1">
   <h3>¿Quiénes Somos?</h3>
   	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <%= link_to "Read more...",quienes_somos_path, :class=>"read_more" %>

	</section>
	

     
   <section class="group2">
   <h3>Solicitar PQRS</h3>
   	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<%= link_to "Read more...",solicitar_pqr_path, :class=>"read_more" %>

	</section>
       
   <section class="group3">
   <h3>Consultar PQRS</h3>
   	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<%= link_to "Consultar",consultar_pqr_path, :class=>"read_more" %>

	</section>

  
   </div>
   <!--end holder-->


	<!-- Final contenedor -->
	</div>
</body>
</html>



















