<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title><%= @titulo ||= "Curso Rails - Santiago Ponce" %>  </title>
	<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<script language="javascript">
			$(document).ready(
				function (){
					$("#pikame").PikaChoose();
				});
		</script>
</head>
<body>
	<!--Contenedor-->
  <div id="container">

	<!--Cabecera-->
	<header>
		<!-- Logo -->
		<%=link_to (image_tag "logo.png", :size=>"120x100", :alt=>"logo"),{:action=>"index"}, :id=>"logo" %>
		<!-- Final Logo -->

		<!-- Navegacion -->
		<nav>
    		<ul>

    			<li><%= link_to "Inicio", :action=>"index" %></li>
    			<li><%= link_to "¿Quiénes Somos?", :action=>"quienes_somos" %></li>
				<li><%= link_to "Iniciar Sesion", :action=>"iniciar_sesion" %></li>

    		</ul>
    	<!-- Final Navegacion -->
    	</nav>

		<!-- Final Cabecera-->
	</header>


   <!-- Empieza contenido dinámico -->
	 <div id="formulario" class="row">
	 	<form>
	 		<%= yield %>
	 	</form>
	</div>
	<!-- Final contenedor -->
	</div>
<% if flash[:notice] %>
	<div class="row">
		<div class="span10 offset2 alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div>
	</div>
<% end %>
</body>
</html>




